.section3 {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    background: linear-gradient(87.73deg, #fceca6 -0.65%, rgba(252, 236, 166, 0.781897) 25.19%, rgba(252, 236, 166, 0.406123) 69.72%, rgba(252, 236, 166, 0.202355) 93.87%, rgba(252, 236, 166, 0.102024) 117.85%, rgba(252, 236, 166, 0) 117.85%);

    .background {
        border: 7px solid #942039;
        border-radius: 40px;
        width: 100%;
        height: 330px;
        position: relative;
        filter: drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275)) drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035)) drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));

        .video {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 20px;
            left: 20px;
            border-radius: 40px;
            overflow: hidden;
            transition: all 0.9s linear;

            .a-tag {
                position: relative;

                img {
                    object-fit: cover;
                    vertical-align: middle;
                    width: 100%;
                    height: 100%;
                }

                span {
                    position: absolute;
                    z-index: 3;
                    top: -17px;
                    left: 0;
                    right: 0;
                    font-family: "Montserrat", sans-serif;
                    font-weight: 600;
                    color: #c1272d;
                    font-size: 34px;
                    line-height: 40px;

                    &::before {
                        content: "";
                        margin: 0 calc(50% - 31px) 20px;
                        width: 64px;
                        height: 64px;
                        background: #c1272d url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAABx0lEQVRoge2ZvUtbURiHf2+UUucO2r1uxXYtDlZwylw6uLiU1qVLBGcXh24KLl0L4qD/gBhotwyhENtAoRAHBdvBLWRIBZ8OciDe5usmknteep/x3JfL7+He93A+pJycnL4ABWANKAMN4AuwDjzIOttAgCngkO40gNeAZZ2zJ0CpR/hOKsBi1lm7AvwYQiBwBDzJOvMdgOsUAgBtYAd4lHV2SVLK8J00gS3goVeBwDnwFih4FQhUgSXPAoET4KlnAbidGD4Cs14FAqHRZ7wKBC64bfQprwKBr8By2ox91zEAo+uPTFlSycy+D1OczfzcnxVJNeATMDeoOMYv0ElL0p6kbTNrdiuIXSDQkPTKzGrJB14EJOmXpAUzu+ocjLEHevFY0pvkoCcBSXqRHPAm8M8v7U2gkhzw1MSXkp55beIzScVkeCl+gZakD5Kem9lpt4LpyeYZmhtJ+5I2zex3v8IYBcqSNszs29hvmvByug4Ux/efvIDbDY3bLaXrTb3bY5Uq8HJiwe9RwO3RYjSHu+2Uwf8Au0R0vF5PEf4ImM868x2A90MEj/qKqQAc9Age/yWfJAEGrALHwE/gM/AOD9esOTn/AX8B5kmIFXR4W9YAAAAASUVORK5CYII=) no-repeat left 18px center;
                        background-size: 32px;
                        border-radius: 50%;
                        float: left;
                        transition: box-shadow 400ms cubic-bezier(0.2, 0, 0.7, 1);
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        width: 80px;
                        height: 80px;
                        background-color: #fff;
                        border-radius: 50%;
                        top: -8px;
                        left: 50%;
                        transform: translate(-50%, 0);
                        z-index: -1;
                    }
                }
            }

            &::after {
                content: "";
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, .5);
                position: absolute;
                z-index: 2;
                left: 0;
                top: 0;
                opacity: 1;
                left: 50%;
                transform: translateX(-50%);
            }

            &:hover ::after{
                transition: all 0.6s linear;
                opacity: 1;
                box-shadow: 0 0 1px 10px rgba(255,255,255,.4), 0 0 1px 20px rgba(255,255,255,.2), 0 0 1px 30px rgba(255,255,255,.1);
                
            }
        }
    }

    .section3-right {
        padding-top: 5%;
        padding-left: 3rem !important;

        h2 {
            padding-bottom: 0.5rem !important;
            font-size: 28px;
            color: #c1272d;
            font-weight: bold;
        }

        p {
            padding-bottom: 1rem !important;
            color: #000415;
            margin-top: 0;
            margin-bottom: 1rem
        }

        a {
            font-weight: 600;
            color: #fff;
            padding: 10px 20px;
            background: #c1272d;
            border-radius: 60px;
            display: inline-block;
        }
    }
}

@media (max-width:480px) {
    .section3-right {
        padding-top: 40px !important;
    }

    .video {
        left: 15px !important;
    }

    .section3 .container {
        padding: 0 8%;
    }
}

@media (max-width:869px) {
    .section3-right {
        padding-top: 40px !important;
    }

    .section3 .container {
        padding: 0 8%;
    }
}