.section1 {
    img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        vertical-align: middle;
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        position: relative;
        top: -55px;
    }

    .owl-theme .owl-dots .owl-dot span {
        display: inline-block;
        zoom: 2;
    }
    .owl-theme .owl-dots .owl-dot.active span {
        display: inline-block;
        zoom: 2;
        background: #c1272d;
    }
}