.section_eight {
    padding-top: 2rem;
  .feedback {
    &_title {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      h2 {
        font-weight: 600;
        color: #c1272d;
        font-size: 28px;
        border-bottom: 5px #c1272d solid;
        padding: 16px;
        font-family: "Nunito", sans-serif;
        margin: 0px;
        @media (max-width: 480px) {
          font-size: 22px;
        }
        &::after {
          content: "";
          position: absolute;
          width: 100%;
          bottom: 1px;
          left: 0;
          height: 2px;
          border-radius: 12px;
          background: #c1272d;
        }
      }
    }
    &_item {
      //   width: 296px;
      margin-right: 10px;
      margin-left: 10px;
    //   background: #f2f2f2;
      border-radius: 10px;
      padding: 25px;
      background: rgba(244, 176, 45, 0.3);
      box-shadow: 0px 8px 8px 1px rgba(0, 0, 0, 0.02),
        2px 4px 10px rgba(0, 0, 0, 0.02), -1px 8px 11px 4px rgba(0, 0, 0, 0.01),
        -1px 10px 9px 6px rgba(0, 0, 0, 0.01),
        1px 13px 8px 0px rgba(0, 0, 0, 0.01), 1px 11px 1px 8px rgba(0, 0, 0, 0);

      &:last-child {
        // margin-right: 0px;
      }
    }
    &_wrap {
      margin-top: 30px;
      .owl-carousel.owl-drag .owl-item {
        height: 290px !important;
        filter: drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275))
          drop-shadow(0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035))
          drop-shadow(0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725))
          drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802));
      }
    }
    &_top {
      display: flex;
      justify-content: space-between;
      img {
        width: 45px;
        height: 40px;
        // height: auto;
        margin-bottom: 20px;
      }
    }
    &_center {
      p {
        color: #000;
        margin-bottom: 20px;
      }
    }
    &_bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      &_left {
        display: flex;
        align-items: center;
      }
      &_img {
        img {
          border: 1px solid red;
          border-radius: 50%;
          width: 80px;
          height: 80px;
          margin-right: 12px;
        }
      }
      &_detail {
        h5 {
          font-size: 16px;
          color: #000f07;
          margin-bottom: 2px;
        }
        h6 {
          font-size: 14px;
          font-weight: normal;
          color: #000f07;
          margin-bottom: 0;
          font-weight: 500;
        }
      }
    }
  }
}
