.section-main {
  padding: 40px 0;

  .container {
    padding: 0 55px;
    .news-left {
      position: sticky;
      top: 60px;

      .component-search {
        margin-bottom: 30px;

        .form {
          position: relative;
          width: 100%;

          button {
            position: absolute;
            height: 100%;
            right: 17px;
            background: unset;
            border: none;
          }

          .input {
            width: 100%;
            height: 61px;
            border: none;
            background: #f9f9f9;
            padding-left: 20px;
            border-radius: 10px;
          }
          .input:focus {
            outline-color: #c1272d;
          }
        }
      }

      .component-hotnews {
        padding: 22px 41px 29px 23px;
        border-radius: 10px;

        .title-vertical {
          color: #c1272d;
          border-left: 3px solid #c1272d;
          padding-left: 15px;
          font-size: 22px;
          position: relative;
        }
        .list {
          list-style: none;
          margin-top: 29.6px;
          padding: 0px;

          .active-bg {
            background: #fff;
            border-radius: 10px;
            height: 35px;
            padding-top: 2%;

            .active {
              color: #c1272d;
              font-weight: 600 !important;
            }
          }

          .left-side-title {
            margin-bottom: 24px;
          }

          h4 {
            padding-left: 15px;
            font-size: 18px;
            font-weight: 500 !important;
          }
        }
      }
    }

    .slider {
      position: relative;

      .item {
        position: relative;
        background: #000;
        border-radius: 10px;

        a {
          text-decoration: none;
          color: #c1272d;

          img {
            height: 655px;
            opacity: 0.85;
            border-radius: 10px;
          }
        }

        .desc {
          opacity: 0.97;
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 117px;
          padding: 20px 140px 10px 45px;
          background: linear-gradient(
            0deg,
            rgba(26, 19, 19, 0.77) 3.85%,
            rgba(130, 121, 121, 0.45) 49.46%,
            rgba(216, 210, 210, 0.25) 70.63%
          );
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .line-2 {
            color: #fff;
            line-height: 33px;
            font-size: 22px;
            display: -webkit-box;
            line-clamp: 2;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            white-space: normal;
            overflow: hidden;
          }
          .time {
            display: flex;
            gap: 50px;
            .timeago {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #fff;
              position: relative;
            }
            ::after {
              content: "";
              position: absolute;
              width: 7px;
              height: 7px;
              background-color: #fff;
              border-radius: 50%;
              top: 50%;
              transform: translateY(-50%);
              right: -29px;
            }
            .view {
              font-weight: 400;
              font-size: 16px;
              line-height: 20px;
              color: #fff;
            }
          }
        }
      }
    }

    .news-candle {
      
    }
  }
}

.owl-nav,
.owl-dots {
  display: block;
  position: absolute;
  bottom: 40px;
  right: 40px;
  //   font-size: 20px;
}

.fa-arrow-left {
  padding-left: 100%;
}

.owl-carousel .owl-nav button.owl-next {
  background: unset !important;
  color: #fff !important;
  padding: 9px 14px !important;
}
.owl-carousel .owl-nav button.owl-prev {
  background: unset !important;
  color: #fff !important;
  padding: 0px 14px !important;
}

.component-search form input:focus {
  outline-color: #c1272d;
//   border: #c1272d;
}
